html,
body {
  height: 100%;
}

body {
  padding-top: 7vh;
  background: #fafafa;
  position: relative;
}

.container {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

.product-title {
  font-family: "Yatra One", sans-serif;
  font-size: calc(2.5em + 1.5vw);
  text-align: center;
  color: crimson;
}

/* Style the search field */
.search {
  margin: 0 auto;
  width: 100%;
  align-content: center;
}

form.search input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 90%;
  background: #f1f1f1;
}

/* Style the submit button */
form.search button {
  float: left;
  width: 10%;
  padding: 10px;
  background: crimson;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

.photo {
  margin: 0.5em;
}
